
.tableheadrow {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(13, calc(80%/13)) ; /*Make the grid smaller than the container*/
    grid-gap: 10px;
    
    padding: 10px;
}
.tablerow{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns:repeat(13, calc(80%/13)) ; /*Make the grid smaller than the container*/
    grid-gap: 10px;
    
    padding: 10px;
}
.ColnameHead p{
    font-size: 60%;
}
.Colname p{
    font-size: 60%;
}